body {
	font-family: arial, verdana, sans-serif;
}

h1 {
	color: #888888;
}

table {
	padding-right: 20px;
	margin-left: 10px;
	width: 1024px;
}

#contentPost {
	margin-left: 10px;
	text-align: left;
}

#historiLink {
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
}

tr.thead {
	background-color: #8fa09b;
}

tr.tablebody {
	background-color: #e0e0e0;
}

tr.tablebody:hover {
	background-color: #f0f0f0;
}

td.tablebody:hover {
	background-color: #e0e0e0;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

.ui-button-text {
	padding: 0em 0.2em !important
}

.ui-button {
	zoom: 0.8;
}

#firstBlag {
	height: 35px;
	width: 400px
}

#titleInfo {
	float: left;
	width: 90%;
	font-style: inherit;
	font-size: 25px;
}

#ti {
	color: black;
	font: bold 90% sans-serif;
}

.tablebody #login {
	position: absolute;
	right: 20px;
	bottom: 12px;
}

#note {
	width: 300px;
	height: 70px;
}

#tablePost {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-right: 20px;
	margin-left: 10px;
}

#container {
	width: 1024px; /* Ширина слоя */
	margin: 0 auto; /* Выравнивание по центру */
	background: #f0f0f0; /* Цвет фона левой колонки */
}

#header {
	text-align: center; /* Выравнивание по центру */
	padding: 5px; /* Отступы вокруг текста */
	background: #8fa09b; /* Цвет фона шапки */
	overflow: hidden;
	position: relative;
	/*  color: #ffe; /* Цвет текста */
}

#menu {
	width: 170px;
	padding: 10px;
	float: left;
	background: #8fa09b;
}

#content {
	text-align: center;
	float: none;

	/*    background: #fff;  Цвет фона правой колонки */
}

#footer {
	padding: 10px; /* Отступы вокруг текста */
}

#dialog, #message {
	display: none;
	text-align: left;
	background-color: #FFF;
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 47%;
	margin: -150px 0 0 -200px;
}

.errorMessage {
	color: red;
	font: italic 90% sans-serif;
}